/*** Common ***********************************************************/

* {
    margin: 0;
    padding: 0;
}

html, body {
    font-family: sans-serif;
    height: 100%;
    overflow: hidden;
}

h1, h2 {
    font-size: 200%;
}

p {
    line-height: 1.32;
    margin: 10px 0 10px 0;
}

a {
    color: #b94669;
    text-decoration: none;
}

a:visited {
    color: #b94669;
}

a:hover {
    color: #D36083;
    text-decoration: underline;
}

a:active {
    color: #A02D50;
}

input {
    border-radius: 3px;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
    font-family: sans-serif;
    font-size: 12px;
    min-height: 26px;
    outline: none;
    padding: 2px;
    text-align: center;
    width: 100%;
}

input:focus {
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.075), 0 0 5px rgba(81,167,232,0.5);
    outline: none;
}

input::-webkit-input-placeholder {
    color: #ccc;
}

/*** Anims ************************************************************/

@keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1.0;}
}

/*** Main *************************************************************/

.main {
    align-items: center;
    color: #222;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    width: 100%;
}

.blurred {
    -webkit-filter: blur(5px) grayscale(50%);
    pointer-events: none;
}

.inputarea {
    font-size: 12px;
    left: 0;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 10px;
    position: absolute;
    top: 0;
    width: 30%;
}

.inputarea .button-row {
    display: flex;
    justify-content: center;
}

.inputarea a {
    color: #ccc;
    margin: 5px 5px;
    padding: 2px;
}

.inputarea a:hover {
    color: #222;
    text-decoration: underline;
}

.word {
    border-radius: 10px;
    border: 1px solid #eee;
    box-shadow: 10px 10px 50px 5px #aaa;
    counter-reset: num-chars;
    overflow: hidden;
}

.word li {
    counter-increment: num-chars;
    display: flex;
    flex-direction: column;
    float: left;
    font-family: monospace;
    font-size: 10vw;
}

.word li .number {
    color: #456cad;
}

.word li .symbol {
    color: #b94669;
}

.word li:nth-child(odd) {
    background: white;
}

.word li:nth-child(even) {
    background: #f7f7f7;
}

.word li::after {
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    color: #aaa;
    content: counter(num-chars);
    display: block;
    font-size: 1.5vw;
    text-align: center;
    user-select: none;
}

.about {
    animation-delay: 2s;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-name: fade-in;
    animation-timing-function: ease;
    bottom: 10px;
    display: block;
    font-family: sans-serif;
    left: 0;
    opacity: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}

.twitter-follow-button {
    vertical-align: text-bottom;
}

.twitter-share-button {
    vertical-align: text-bottom;
}

/*** Modals ***********************************************************/

.modal {
    background: white;
    border-radius: 3px;
    box-shadow: 0px 0px 20px rgba( 0, 0, 0, 0.6);
    left: 50%;
    max-height: 90%;
    opacity: 0;
    overflow: scroll;
    padding: 20px;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%) scale(0.7);
    transition: all 0.25s ease;
    width: 50%;
    z-index: 99;
}

.modal.open {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.modal button {
    -moz-transition: 0.15s background ease;
    -ms-transition: 0.15s background ease;
    -o-transition: 0.15s background ease;
    -webkit-transition: 0.15s background ease;
    background: #b94669;
    border-radius: 1px;
    border: 0px;
    color: #fff;
    cursor: pointer;
    float: right;
    font-size: 15px;
    margin: 10px -6px 0 0;
    outline: none;
    padding: 8px 10px;
    transition: 0.15s background ease;
}

.modal button:hover {
    background: #D36083;
}
.modal button:active {
    background: #A02D50;
}

.modal input {
    font-size: 200%;
    margin-top: 10px;
}

.modal ul {
    list-style-position: inside;
    list-style-type: square;
    margin-left: 0;
    padding-left: 1em;
    text-indent: -1em;
}

.modal li {
    margin-top: 7.5px;
}
