/*** Color Schemes ****************************************************/

:root {
    --link-color: #b94669;
    --hover-color: #d36083;
    --active-color: #a02d50;

    --bg-odd-letters: white;
    --bg-even-letters: #f7f7f7;
    --modal-bg-color: white;
    --bg-color: unset;

    --main-color: #222;
    --text-shadow-color: #aaa;
    --input-color: #ccc;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-odd-letters: black;
        --bg-even-letters: #272727;
        --modal-bg-color: black;
        --bg-color: black;

        --main-color: #ddd;
        --text-shadow-color: #444;
        --input-color: #777;
    }
}

/*** Common ***********************************************************/


* {
    margin: 0;
    padding: 0;
}

html, body {
    font-family: sans-serif;
    height: 100%;
    overflow: hidden;
    color: var(--main-color)
}

h1, h2 {
    font-size: 200%;
}

p {
    line-height: 1.32;
    margin: 10px 0 10px 0;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:visited {
    color: var(--link-color);
}

a:hover {
    color: var(--hover-color);
    text-decoration: underline;
}

a:active {
    color: var(--active-color);
}

input {
    border-radius: 3px;
    border: 1px solid var(--input-color);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
    font-family: sans-serif;
    font-size: 12px;
    min-height: 26px;
    outline: none;
    padding: 2px;
    text-align: center;
    width: 100%;
}

input:focus {
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.075), 0 0 5px rgba(81,167,232,0.5);
    outline: none;
}

input::-webkit-input-placeholder {
    color: var(--input-color);
}

/*** Anims ************************************************************/

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1.0;
    }
}

/*** Main *************************************************************/

.main {
    background-color: var(--bg-color);
    align-items: center;
    color: var(--main-color);
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    width: 100%;
}

.blurred {
    -webkit-filter: blur(5px) grayscale(50%);
    pointer-events: none;
}

.inputarea {
    font-size: 12px;
    left: 0;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 10px;
    position: absolute;
    top: 0;
    width: 30%;
}

@media only screen and (max-width: 700px) {
    .inputarea {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
}

.inputarea .button-row {
    display: flex;
    justify-content: center;
}

.inputarea a {
    color: var(--input-color);
    margin: 5px 5px;
    padding: 2px;
}

.inputarea a:hover {
    color: #222;
    text-decoration: underline;
}

.text {
    border-radius: 10px;
    border: 1px solid #eee;
    box-shadow: 10px 10px 50px 5px var(--text-shadow-color);
    counter-reset: num-chars;
    overflow: hidden;
}

.text li {
    counter-increment: num-chars;
    display: flex;
    flex-direction: column;
    float: left;
    font-family: monospace;
    font-size: 10vw;
}

.text li .number {
    color: #456cad;
}

.text li .symbol {
    color: #b94669;
}

.text li:nth-child(odd) {
    background: var(--bg-odd-letters);
}

.text li:nth-child(even) {
    background: var(--bg-even-letters);
}

.text li::after {
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    color: #aaa;
    content: counter(num-chars);
    display: block;
    font-size: 1.5vw;
    text-align: center;
    user-select: none;
}

.about {
    animation-delay: 2s;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-name: fade-in;
    animation-timing-function: ease;
    bottom: 10px;
    display: block;
    font-family: sans-serif;
    left: 0;
    opacity: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    font-size: 1em;
    font-weight: lighter;
    color: #999;
}

.about a {
    color: #666;
}

@media only screen and (max-width: 700px) {
    .about {
        font-size: 60%;
    }
}

.twitter-follow-button {
    vertical-align: text-bottom;
}

.twitter-share-button {
    vertical-align: text-bottom;
}

/*** Modals ***********************************************************/

.modal {
    -webkit-overflow-scrolling: touch;
    background: var(--modal-bg-color);
    border-radius: 3px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.6);
    left: 50%;
    max-height: 90%;
    opacity: 0;
    overflow: auto;
    padding: 20px;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%) scale(0.7);
    transition: all 0.25s ease;
    width: 50%;
    z-index: 99;
}

@media only screen and (max-width: 700px) {
    .modal {
        width: 80%;
    }
}

.modal.open {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.modal button {
    -moz-transition: 0.15s background ease;
    -ms-transition: 0.15s background ease;
    -o-transition: 0.15s background ease;
    -webkit-transition: 0.15s background ease;
    background: #b94669;
    border-radius: 1px;
    border: 0px;
    color: #fff;
    cursor: pointer;
    float: right;
    font-size: 15px;
    margin: 10px -6px 0 0;
    outline: none;
    padding: 8px 10px;
    transition: 0.15s background ease;
}

.modal button:hover {
    background: var(--hover-color);
}
.modal button:active {
    background: var(--active-color);
}

.modal input {
    font-size: 200%;
    margin-top: 10px;
}

.modal ul {
    list-style-position: inside;
    list-style-type: square;
    margin-left: 0;
    padding-left: 1em;
    text-indent: -1em;
}

.modal li {
    margin-top: 7.5px;
}
